/*Colors*/
/*Viewports*/
body {
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.additional-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-products__title {
  color: black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 81px;
  margin-top: 75px;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
  color: white;
  background-color: #68b738;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 11px;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 0 36px 39px 36px;
  }
}

@media (min-width: 768px) {
  .card__wrapper {
    margin-bottom: 33px;
  }
}

.card--show-all {
  display: grid;
}
@media (min-width: 768px) {
  .card--show-all {
    background-color: white;
  }
}
@media (min-width: 1200px) {
  .card--show-all {
    background-color: white;
  }
}

.card--show-all .card__title {
  grid-column: 1/3;
  text-align: center;
}
@media (min-width: 1200px) {
  .card--show-all .card__title {
    grid-column: 1/4;
  }
}

.card__parameters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #444444;
  line-height: 16px;
  font-size: 12px;
}

.card__title {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 14px;
}
@media (min-width: 768px) {
  .card__title {
    text-align: center;
  }
}

.card__description {
  color: #444444;
  line-height: 16px;
  grid-column: 1/3;
  text-align: center;
}
@media (min-width: 1200px) {
  .card__description {
    grid-column: 1/4;
  }
}

.card__button {
  grid-column: 1/3;
}
@media (min-width: 768px) {
  .card__button {
    align-items: center;
    padding: 9px 93px;
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .card__button {
    grid-column: 3/4;
    padding: 9px 53px;
  }
}

.card__button.button--show-all {
  padding: 0;
}
@media (min-width: 1200px) {
  .card__button.button--show-all {
    grid-column: 1/4;
  }
}

@media (min-width: 768px) {
  .card__link {
    align-self: center;
  }
}

.card--additional {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .card--additional {
    display: grid;
    background-color: white;
  }
}
@media (min-width: 1200px) {
  .card--additional {
    display: grid;
    background-color: white;
    width: 895px;
    column-gap: 66px;
  }
}

.card__value {
  margin: 0;
  text-align: end;
}

.card--additional .card__value {
  justify-content: space-between;
}

@media (min-width: 768px) {
  .card--additional .card__title {
    text-align: start;
  }
}

.checkbox__legend {
  color: black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 36px;
}

.checkbox__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  display: flex;
  align-items: center;
  padding-bottom: 13px;
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .checkbox__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    padding-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .checkbox__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 84px;
    padding-bottom: 61px;
  }
}

.checkbox {
  margin: 0;
  padding: 0;
  grid-column: 1/3;
}

.checkbox__control {
  font-weight: inherit;
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  background: white;
}

.checkbox__control:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M11 17.718L5.3 11.2695L4.25 12.4574L11 20.0938L22.25 7.36648L21.2 6.09375L11 17.718Z' fill='%2368B738'/%3E%3C/svg%3E");
}

.comment__legend {
  color: black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 36px;
}

.comment__textarea {
  width: 280px;
  height: 151px;
  flex-shrink: 0;
  border: 1px solid #E7E7E7;
}
@media (min-width: 768px) {
  .comment__textarea {
    width: 631px;
    height: 174px;
  }
}
@media (min-width: 1200px) {
  .comment__textarea {
    width: 1220px;
    height: 174px;
  }
}

.comment__textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: start;
  padding-top: 9px;
}

.contacts--inner-page {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 708px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    width: 1200px;
    justify-content: space-between;
  }
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .contacts__title {
    width: 171px;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__title {
    width: 163px;
  }
}

.contacts__address {
  line-height: 20px;
  color: #444444;
  font-style: normal;
}
@media (min-width: 768px) {
  .contacts__address {
    width: 160px;
    text-align: right;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__address {
    width: 163px;
  }
}

.copyright__link::before {
  width: 280px;
  height: 34px;
  content: "";
  background-image: url("../img/logo-htmlacademy-text.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: left center;
}

.copyright__link::after {
  width: 27px;
  height: 34px;
  content: "";
  background-image: url("../img/logo-html-image.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background-color: #f2f2f2;
}

.footer__social {
  margin-bottom: 20px;
}

.footer__logo {
  margin: 0 auto;
  width: 101px;
  height: 24px;
  display: flex;
  margin-bottom: 20px;
}

.footer__copyright {
  margin-top: 20px;
}

.form-contacts__legend {
  color: black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.form-contacts__label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 13px;
  padding-top: 14px;
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-contacts__item {
  display: flex;
  justify-content: space-between;
}

.form-contacts__control {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  border: 1px solid #E7E7E7;
}

.form-contacts {
  margin: 0;
  padding: 0;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 69px;
  }
}

@media (min-width: 768px) {
  .form-page__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
  }
}
@media (min-width: 1200px) {
  .form-page__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 84px;
    row-gap: 61px;
  }
}

.form-page__button {
  grid-column: 1/2;
}

.container {
  margin: 0 auto;
  width: 281px;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.form-page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: black;
  margin: 0;
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .form-page__title {
    padding-bottom: 56px;
  }
}

.form-page__intro {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .form-page__intro {
    padding-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-page__foot-note {
  text-align: center;
}
@media (min-width: 768px) {
  .form-page__foot-note {
    text-align: start;
  }
}

@media (min-width: 768px) {
  .form-page__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
  }
}
@media (min-width: 1200px) {
  .form-page__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 84px;
    row-gap: 61px;
  }
}

.form-page__button {
  grid-column: 1/2;
}

@media (min-width: 1200px) {
  .header--index::before {
    background-image: url("../img/index-cat-background.jpg"), linear-gradient(to right, rgba(80, 155, 34, 0.85), rgba(70, 144, 24, 0.85));
    content: "";
    height: 400px;
    width: 50%;
    display: block;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top;
    position: absolute;
    right: 0;
  }
}

.header__index {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .header__index {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .header__index {
    margin-top: 53px;
    margin-bottom: 82px;
  }
}

.header__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .header__inner {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .header__inner {
    margin-top: 53px;
    margin-bottom: 82px;
  }
}

.header__logo {
  height: 65px;
  display: block;
}
@media (min-width: 768px) {
  .header__logo {
    width: 174px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    width: 202px;
  }
}

.instruction {
  margin-bottom: 49px;
}

.instruction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: black;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 60px 199px;
  gap: 20px;
}
@media (min-width: 768px) {
  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.instruction__item {
  color: #444444;
  grid-column: 2/3;
  position: relative;
}
@media (min-width: 768px) {
  .instruction__item {
    line-height: 24px;
    font-size: 16px;
    grid-column: unset;
  }
}

@media (min-width: 768px) {
  .instruction__item--content {
    padding-top: 151px;
  }
}

@media (min-width: 768px) {
  .instruction__item--preparation {
    padding-top: 151px;
  }
}

.instruction__item--content::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  background-color: #68b738;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -80px;
}
@media (min-width: 768px) {
  .instruction__item--content::before {
    position: relative;
    margin-top: -111px;
    margin-bottom: 31px;
    left: 0;
  }
}

.instruction__item--preparation::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  background-color: #68b738;
  background-image: url("../img/water.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -80px;
}
@media (min-width: 768px) {
  .instruction__item--preparation::before {
    position: relative;
    margin-top: -111px;
    margin-bottom: 31px;
    left: 0;
  }
}

.instruction__item--use::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  background-color: #68b738;
  background-image: url("../img/tableware.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -80px;
}
@media (min-width: 768px) {
  .instruction__item--use::before {
    position: relative;
    left: 0;
    margin-top: 31px;
    margin-bottom: 31px;
  }
}

.instruction__item--result::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  background-color: #68b738;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -80px;
}
@media (min-width: 768px) {
  .instruction__item--result::before {
    position: relative;
    left: 0;
    margin-top: 31px;
    margin-bottom: 31px;
  }
}

@media (min-width: 1200px) {
  .main__additional-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.main-intro__wrapper {
  display: grid;
  grid-template-rows: 99px 68px 135px 135px 42px;
  grid-template-columns: 1fr 280px 1fr;
}

.main-intro__wrapper::before {
  background-image: url("../img/index-cat-background.jpg"), linear-gradient(to right, rgba(80, 155, 34, 0.85), rgba(70, 144, 24, 0.85));
  content: "";
  height: 302px;
  display: block;
  background-repeat: no-repeat, no-repeat;
  background-position: top center, top;
  grid-row: 1/3;
  grid-column: 1/4;
}

.main-intro__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
  line-height: 36px;
  grid-row: 1;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-intro__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  color: white;
  text-transform: uppercase;
  grid-row: 2;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-intro__image {
  display: block;
  grid-row: 3/5;
  grid-column: 2/3;
}

.main-intro__link {
  grid-row: 5/6;
  grid-column: 2/3;
}

@media (min-width: 768px) {
  .main-intro__wrapper {
    grid-template-rows: 120px 81px 83px 187px;
    grid-template-columns: 1fr 709px 1fr;
  }

  .main-intro__wrapper::before {
    display: none;
  }

  .main-intro__title {
    color: black;
    margin-left: 91px;
    line-height: 60px;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
  }

  .main-intro__slogan {
    color: black;
    margin-left: 91px;
    padding-top: 41px;
    line-height: 20px;
    font-size: 20px;
    text-align: left;
  }

  .main-intro__image {
    grid-row: 3/5;
  }

  .main-intro__link {
    grid-row: 3/4;
    margin-left: 91px;
    margin-top: 49px;
    width: 192px;
  }
}
@media (min-width: 1200px) {
  .main-intro__wrapper {
    display: block;
    margin-bottom: 82px;
    position: relative;
  }

  .main-intro__title {
    width: 414px;
    margin-bottom: 40px;
    margin-left: 80px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .main-intro__slogan {
    margin-bottom: 52px;
  }

  .main-intro__image {
    bottom: 144px;
    position: absolute;
    right: 400px;
  }

  .main-intro__link {
    margin: 0;
    margin-left: 80px;
  }
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav__toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav__list {
    width: 440px;
  }
}
@media (min-width: 1200px) {
  .nav__list {
    width: 480px;
  }
}

.offers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .offers__list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    grid-template-rows: 374px;
    gap: 20px;
  }
}

.offers__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .offers__item {
    margin-bottom: 30px;
  }
}

.offers__title {
  color: black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.offers__description {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
}

.offers__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.products__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .product-list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .product-list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 80px;
  }
}

.promotion__description {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: url("../img/catalog-cat-background.jpg") 100% 100% no-repeat;
  background-repeat: no-repeat;
  height: 200px;
  background-size: cover;
  margin-bottom: 35px;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .promotion__description {
    background: url("../../img/tablet/cat-background-tablet.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 707px;
    height: 200px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1200px) {
  .promotion__description {
    background: url("../img/catalog-cat-background.jpg") no-repeat;
    width: 245px;
    height: 280px;
    margin-top: 180px;
  }
}

.questionary__label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 13px;
  padding-top: 14px;
}

.questionary__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionary__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.questionary__control {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  border: 1px solid #E7E7E7;
}

.questionary__item:last-child {
  margin-bottom: 0;
}

.questionary {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .questionary {
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .questionary {
    margin-bottom: 0;
  }
}

.radio__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  display: flex;
  align-items: center;
  padding-bottom: 13px;
}

.radio__label:last-child {
  padding-bottom: 19px;
}

.radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radio {
  margin: 0;
  padding: 0;
}

.radio__control--kind_checkable {
  font-weight: inherit;
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  box-shadow: inset white 0 0 0 6.5px;
}

.radio__control:checked {
  background-color: #68b738;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  color: black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .site-list__link {
    color: white;
  }
}

.site-list__link--inner {
  color: #000000;
}

.slider {
  background-color: #f2f2f2;
  padding: 0;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .slider {
    background-color: white;
  }
}
@media (min-width: 1200px) {
  .slider {
    background-color: #f2f2f2;
  }
}

.slider__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 40px;
}

.slider__text {
  color: #444444;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.slider__costs {
  color: black;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.slider__parameters {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 56px 24px;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  margin-bottom: 20px;
}

.slider__number {
  grid-row: 1/2;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.slider__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  padding-left: 22px;
  padding-right: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .slider__wrapper-secondary {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .slider__wrapper-secondary {
    display: block;
  }
}

.social__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  justify-content: center;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
}

.social__link--vkontakte {
  background-image: url("../../img/vkontakte.svg");
}

.social__link--youtube {
  background-image: url("../../img/youtube.svg");
}

.social__link--telegram {
  background-image: url("../../img/telegram.svg");
}

.social__item {
  margin-right: 24px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */