.additional-products__title {
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
margin-bottom: 81px;
margin-top: 75px;
}
