.additional-products__title {
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  padding: 0;
  margin: 0 0 36px 0;
  box-shadow: -20px 0 0 0 rgb(255, 255, 255), 21px 0 0 0 rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 80px 40px;
    box-shadow: -20px 0 0 0 rgb(255, 255, 255), 36px 0 0 0 rgb(255, 255, 255);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 81px 0;
    box-shadow: -40px 0 0 0 rgb(255, 255, 255), 35px 0 0 0 rgb(255, 255, 255);
    line-height: 36px;
    font-size: 36px;
    width: 348px;
  }
}

.additional-products__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 14px;
  width: 100vw;
  height: 2px;
  background: $basic-green;
  box-shadow: 100vw 0 0 $basic-green;
  z-index: -2;

  @media (min-width: $tablet-width) {
    top: 22px;
  }

  @media (min-width: $desktop-width) {
    top: 24px;
  }
}

.additional-products::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 1px;
  background: $special-grey-2;
  box-shadow: 100vw 0 0 $special-grey-2;
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.additional-products {
  position: relative;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
  }
}
