.additional-products__title {
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin: 0;
  margin-left: -21px;
  width: 226px;
  margin-right: -20px;
  padding: 25px 21px 36px 20px;
  background-color: rgb(255, 255, 255);

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    margin-right: -37px;
    padding-right: 36px;
    margin-left: -36px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -40px;
    margin-left: -35px;
    padding: 75px 35px 81px 40px;
    line-height: 36px;
    font-size: 36px;
    width: 348px;
  }
}

.additional-products__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 39px;
  width: 100vw;
  height: 2px;
  background: $basic-green;
  box-shadow: 100vw 0 0 $basic-green;
  z-index: -2;

  @media (min-width: $desktop-width) {
    top: 99px;
  }
}

.additional-products::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100vw;
  height: 1px;
  background: $special-grey-2;
  box-shadow: 100vw 0 0 $special-grey-2;
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.additional-products {
  position: relative;
}
