.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: $basic-grey;
    padding: 0 36px 39px 36px;
  }
}

.card:not(.card--additional)::before {
  content: "";
  width: 100vw;
  height: 1px;
  position: absolute;
  background: $special-grey-2;
  left: 0;
  z-index: -2;
}

.card__wrapper {
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.card--show-all {
  display: grid;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.card--show-all .card__title {
  grid-column: 1/3;
  text-align: center;
  padding-top: 78px;
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}

.card--show-all .card__title::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 45px;
  background-color: rgba(211, 211, 211, 1);
  left: 132px;
}

.card--show-all .card__title::after {
  transform: rotate(90deg);
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 45px;
  background-color: rgba(211, 211, 211, 1);
  left: 132px;
}

.card__parameters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $special-dark-grey;
  line-height: 16px;
  font-size: 12px;
}

.card__title {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.card__description {
  color: $special-dark-grey;
  line-height: 16px;
  grid-column: 1/3;
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}

.card__button {
  grid-column: 1/3;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 9px 93px;
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    padding: 9px 53px;
  }
}

.card__button.button--show-all {
  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}

.card__link {
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.card--additional {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  border-top: 1px solid $special-grey-2;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    background-color: $basic-white;
    width: 895px;
    column-gap: 66px;
  }
}

.card__value {
  margin: 0;
  text-align: end;
}

.card--additional .card__value {
  justify-content: space-between;
}

.card--additional .card__title {
  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.card--additional:last-child {
  border-bottom: 1px solid $special-grey-2;
}

.card--additional .card__parameters {
  display: flex;
  justify-content: space-between;
}
