.container {
  margin: 0 auto;
  width: 281px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.container.contacts__wrapper {
  @media (min-width: $desktop-width) {
    width: 565px;
    margin-left: 110px;
    margin-top: 95px;
  }
}
