.copyright__link::before {
  width: 280px;
  height: 34px;
  content: "";
  background-image: url("../img/logo-htmlacademy-text.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: left center;
}

.copyright__link::after {
  width: 27px;
  height: 34px;
  content: "";
  background-image: url("../img/logo-html-image.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
