.footer {
  background-color: $basic-grey;
}

.footer__logo {
  margin: 0 auto;
  width: 128px;
  height: 24px;
  display: flex;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    display: block;
    padding-top: 12px;
  }
}

.footer__logo .logo__img {
  padding: 0;
}

.footer__social {
  position: relative;
  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 130px 1fr 160px;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 58px;
  }
}
