.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__wrapper--primary {
  @media (min-width: $desktop-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  margin-bottom: 69px;
}
}
.form__wrapper--secondary {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 482px;
    column-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 568px 1fr;
    column-gap: 84px;
    row-gap: 61px;
  }
}

.form__button {
  grid-column: 1/2;
}
