.form-page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin: 0;
  padding-bottom: 37px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 56px;
    padding-top: 73px;
  }
}

.form-page__intro {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-page::before {
  content: "";
  width: 100vw;
  height: 1px;
  position: absolute;
  background: $special-grey-2;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
