.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__wrapper {
  @media (min-width: $desktop-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  margin-bottom: 69px;
}
}
.form-page__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 84px;
    row-gap: 61px;
  }
}

.form-page__button {
  grid-column: 1/2;
}
