.form-contacts__legend {
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 35px;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: -20px 0 0 0 rgb(255, 255, 255), 14px 0 0 0 rgb(255, 255, 255);
  width: fit-content;

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    box-shadow: -20px 0 0 0 rgb(255, 255, 255), 35px 0 0 0 rgb(255, 255, 255);
  }
}

fieldset.form-contacts {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form-contacts__legend::before {
  content: "";
  position: absolute;
  right: 0;
  top: 14px;
  display: block;
  width: 100vw;
  height: 2px;
  background: $basic-green;
  box-shadow: 100vw 0 0 $basic-green;
  z-index: -2;

  @media (min-width: $tablet-width) {
    top: 18px;
  }
}

.form-contacts__label {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 13px;
  padding: 0;
  padding-top: 14px;
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-contacts__item {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form-contacts__control {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  border: 1px solid rgb(231, 231, 231);

  &:hover {
    outline: 1px solid rgb(204, 204, 204);
  }

  &:focus {
    outline: 2px solid rgb(69, 69, 69);
  }

  &:disabled {
    outline: 2px solid rgb(255, 130, 130);
  }
}

.form-contacts__item:not(:last-child) {
  margin-bottom: 14px;
}

.form-contacts__item--email::after {
  content: "";
  position: absolute;
  display: block;
  top: 13px;
  right: 12px;
  background: rgba(34, 34, 34, 1);
  mask: url("../img/icons.svg#email") no-repeat;
  width: 20px;
  height: 20px;
}

.form-contacts__item--email:hover::after {
  background: $basic-green;
}

.form-contacts__control:disabled + .form-contacts__item--email::after {
  background: rgba(255, 130, 130, 1);
}

.form-contacts__item--phone::after {
  content: "";
  position: absolute;
  display: block;
  top: 13px;
  right: 12px;
  background: rgba(34, 34, 34, 1);
  mask: url("../img/icons.svg#phone") no-repeat;
  width: 20px;
  height: 20px;
}

.form-contacts__item--phone:hover::after {
  background: $basic-green;
}

.form-contacts__control:disabled + .form-contacts__item--phone::after {
  background: rgba(255, 130, 130, 1);
}
