.form-contacts__legend {
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  padding-top: 26px;
  position: relative;
}

.form-contacts__legend::after {
  content: "";
  width: 100vw;
  height: 2px;
  position: absolute;
  background: $basic-green;
  top: 44px;
  left: 221px;

  @media (min-width: $tablet-width) {
    top: 44px;
    left: 382px;
  }
}

.form-contacts__label {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 13px;
  padding-top: 14px;
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-contacts__item {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form-contacts__control {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  border: 1px solid rgb(231, 231, 231);
}

.form-contacts__item:not(:last-child) {
  margin-bottom: 14px;
}

.form-contacts__item--email::after {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/email.svg") no-repeat;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 12px;
}

.form-contacts__item--phone::after {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/phone.svg") no-repeat;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 12px;
}

.form-contacts {
  margin: 0;
  padding: 0;
}
