.form-contacts__legend {
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.form-contacts__label {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 13px;
  padding-top: 14px;
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-contacts__item {
  display: flex;
  justify-content: space-between;
}

.form-contacts__control {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  border: 1px solid rgb(231, 231, 231);
}

.form-contacts {
  margin: 0;
  padding: 0;
}
