@media (min-width: $tablet-width) {
  .inner-nav__toggle {
    display: none;
  }

  .inner-nav__list {
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .inner-nav__toggle {
    display: none;
  }

  .inner-nav__list {
    width: 480px;
  }
}
