$special-dark-grey: #444;
.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.instruction__title {
  font-family: Oswald;
  font-size: 36px;
  line-height: 40px;
  color: #000;
}

.instruction__item {
  color: $special-dark-grey;
}

