.instruction {
  margin-bottom: 49px;
}

.instruction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 179px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 120px;
  }
}

.instruction__item {
  color: $special-dark-grey;
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    font-size: 16px;
    grid: unset;
  }
}

.instruction__item--content::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  grid-column: 1/2;
  background-color: $basic-green;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.instruction__item--preparation::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  grid-column: 1/2;
  background-color: $basic-green;
  background-image: url("../img/water.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.instruction__item--use::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  grid-column: 1/2;
  background-color: $basic-green;
  background-image: url("../img/tableware.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -80px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.instruction__item--result::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  grid-column: 1/2;
  background-color: $basic-green;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -80px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}
