.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instruction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: rgb(0, 0, 0);
}

.instruction__item {
  color: $special-dark-grey;
}
