.logo__img--icon {
  width: 34px;
  height: 38px;
  padding-right: 55px;
  display: block;

  @media (min-width: $tablet-width) {
    padding-right: 13px;
    height: 50px;
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    height: 51px;
    width: 61px;
  }
}

.logo__img--text {
  width: 101px;
  height: 18px;
  display: block;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-left: 11px;
    width: 117px;
    height: 22px;
  }
}

.logo__img {
  display: block;
}

.logo:hover {
  opacity: 0.8;
}


.logo:active {
  opacity: 0.6;
}

.logo:focus {
  outline: 2px solid $violet;
  outline-offset: 10px;
}
