.main-intro__wrapper {
  display: grid;
  grid-template-rows: 99px 68px 135px 135px 42px;
  grid-template-columns: 1fr 280px 1fr;
}

.main-intro::before {
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile.jpg"), linear-gradient(to right, #54555a 50%, #434248 50%);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, top;
  background-size: auto, 320px 302px;
  content: "";
  display: block;
  height: 302px;
  width: 100%;
  position: absolute;
  z-index: -2;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile-2x.jpg"), linear-gradient(to right, #54555a 50%, #434248 50%);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-intro__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: $basic-white;
  line-height: 36px;
  grid-row: 1;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-intro__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-white;
  text-transform: uppercase;
  grid-row: 2;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  text-align: center;
}

.main-intro__image-wrapper {
  display: block;
  grid-row: 3/5;
  grid-column: 2/3;
  object-fit: cover;
  width: 709px;
  height: 609px;
}

.main-intro__link {
  grid-row: 5/6;
  grid-column: 2/3;
  padding: 12px 44px 8px 44px;
}

@media (min-width: $tablet-width) {
  .main-intro__wrapper {
    grid-template-rows: 120px 81px 83px 526px;
    grid-template-columns: 1fr 709px 1fr;
    margin-top: 67px;
  }

  .main-intro__wrapper::before {
    display: none;
  }

  .main-intro__title {
    color: $black;
    margin-left: 91px;
    line-height: 60px;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    width: 420px;
  }

  .main-intro__slogan {
    color: $black;
    margin-left: 91px;
    padding-top: 41px;
    line-height: 20px;
    font-size: 20px;
    text-align: left;
  }

  .main-intro__image-wrapper {
    grid-row: 3/5;
  }

  .main-intro__link {
    font-size: 20px;
    line-height: 20px;
    grid-row: 3/4;
    margin-left: 91px;
    margin-top: 29px;
    width: 192px;
    height: 26px;
    padding: 14px 26px;
  }
}

@media (min-width: $desktop-width) {
  .main-intro__wrapper {
    display: block;
    margin-bottom: 267px;
    position: relative;
  }

  .main-intro__title {
    width: 416px;
    margin-left: 80px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-top: 111px;
  }

  .main-intro__slogan {
    padding-bottom: 52px;
  }

  .main-intro__image-wrapper {
    position: absolute;
    left: 448px;
    top: 32px;
    width: 552px;
    height: 499px;
    z-index: 3;
  }

  .main-intro__link {
    margin: 0;
    margin-left: 80px;
    padding: 14px 26px 14px 26px;
  }
}
