.main-header::before {
  @media (min-width: $desktop-width) {
    background-image: url("../img/index-cat-background.jpg"), linear-gradient(to right, rgba(80, 155, 34, 0.85), rgba(70, 144, 24, 0.85));
    content: "";
    height: 400px;
    width: 50%;
    display: block;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top;
    position: absolute;
    right: 0;
  }
}

.main-header {
  margin: 0 auto;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 769px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
