.main-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.main-product-list__card {
  margin-bottom: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 112px 40px;
}

.main-product-list__card--show-all {
  display: none;
}
