.offers {
  margin-top: 20px;
@media (min-width: $desktop-width)
{
  margin-top: 0;
}
}

.offers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    grid-template-rows: 374px;
    gap: 80px;
  }
}

.offers__item {
  background-color: $basic-grey;
  margin-bottom: 20px;
  padding-bottom: 18px;
  position: relative;


  @media (min-width: $tablet-width) {
    display: grid;
    padding-left: 52px;
    padding-right: 62px;
    grid-template-columns: 1fr 200px;
    margin-bottom: 30px;
    padding-top: 77px;
    column-gap: 54px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: block;

  }
}

.offers__item--slim::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: 29px;
  background-image: url(../../img/cat-slim.svg);
  background-repeat: no-repeat;
  background-size: 36px 50px;
  width: 36px;
  height: 50px;
  z-index: 3;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 81px;
    left: 476px;
    right: 12px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    top: 71px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}

.offers__item--pro::before {
  content: "";
  display: block;
  position: absolute;
  top: 35px;
  left: 13px;
  background-image: url(../../img/cat-pro.svg);
  background-repeat: no-repeat;
  background-size: 67px 28px;
  width: 67px;
  height: 28px;
  z-index: 3;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 81px;
    left: 476px;
    right: 12px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    top: 71px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}

.offers__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 22px;
  top: 24px;
  background-color: $basic-green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 81px;
    left: 476px;
    right: 12px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    left: 52px;
    top: 47px;

    width: 100px;
    height: 100px;
  }
}

.offers__title {
  color: rgb(0, 0, 0);
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 91px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 73px;
  }
}

.offers__description {
  color: $special-dark-grey;
  margin: 0;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 38px;
  position: relative;
  line-height: 24px;
  color: rgb(0, 0, 0);

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 0;
    grid-column: 1/2;
    padding-right: 45px;
  }

}

.offers__description::after {
  content: "";
  position: absolute;
  bottom: 23px;
  display: block;
  background: #D9D9D9;
  height: 1px;
  width: 240px;

  @media (min-width: $tablet-width) {
    display: none;
  }

}

.offers__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-left: 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 0;
    grid-column: 1/2;
  }
}

.offers__link::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../../img/icon-arrow.svg);
  width: 32px;
  height: 10px;
  bottom: 10px;
  left: 121px;

  @media (min-width: $tablet-width) {
    bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    bottom: 10px;
  }
}
