.products__title {
  margin: 0;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 84px;
  }
}

.products {
  position: relative;
  padding-top: 27px;


  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}
