.questionary__label {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 13px;
  padding-top: 14px;
}

.questionary__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionary__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.questionary__control {
  color: $special-dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  outline: 1px solid rgb(232, 232, 232);
  border: none;

  &:hover {
    outline: 1px solid rgb(204, 204, 204);
  }

  &:focus {
    outline: 2px solid rgb(69, 69, 69);
  }

  &:invalid {
    outline: 2px solid rgb(255, 128, 128);
  }
}

.questionary__item:last-child {
  margin-bottom: 0;
}

.questionary {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-column: 1/2;
  }
}
