.radio__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  display: flex;
  align-items: center;
  padding-bottom: 13px;
}

.radio__label:last-child {
  padding-bottom: 19px;
}

.radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 19px;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    padding-bottom: 25px;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }
}

.radio {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    border: 1px solid rgb(231, 231, 231);
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    margin-top: 0;
    margin-bottom: 69px;
  }
}

.radio__control {
  font-weight: inherit;
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid $special-grey-2;
  border-radius: 50%;
  box-shadow: inset rgb(255, 255, 255) 0 0 0 7.25px;

  &:disabled {
    opacity: 0.3;
  }

  &:focus {
    outline: 3px solid $violet;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    box-shadow: inset rgb(255, 255, 255) 0 0 0 10px;
  }
}

.radio__control:checked {
  background-color: rgb(104, 183, 56);
}

.radio::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100vw;
  height: 1px;
  background: $special-grey-2;
  box-shadow: 100vw 0 0 $special-grey-2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.radio::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100vw;
  height: 1px;
  background: $special-grey-2;
  box-shadow: 100vw 0 0 $special-grey-2;
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
