.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 440px;
  }
}

.site-list__link {
  color: rgb(0, 0, 0);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;


  @media (min-width: $tablet-width) {
    padding: 18px 0 10px 0;
    font-weight: 400;
    border: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
    padding-top: 16px;
  }
}

.site-list__link--inner {
  color: #000000;
}

.site-list__item {
  border-bottom: 1px solid $special-grey-2;

  @media (min-width: $tablet-width) {
    margin-right: 33px;
    border-bottom: none;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $basic-green;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--active {
      &::after {
        background: $basic-white;
      }
    }
  }
}

.header--inner .site-list__item--active {
  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: $basic-green;
    }
  }
}

.site__list {
  @media (min-width: $mobile-width-only) {
    display: block;
    position: static;
  }
}
