.slider {
  background-color: rgba(234, 234, 234, 1);
  padding: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, rgba(234, 234, 234, 1) 462px, rgb(255, 255, 255) 462px, rgb(255, 255, 255) 691px);
  }
}

.slider__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.slider__text {
  color: $special-dark-grey;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin: 0;
    margin-top: 70px;
  }
}

.slider__costs {
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    font-size: 20px;
    width: 366px;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    text-align: left;
  }
}

.slider__costs > span {
  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    display: block;
    text-align: center;
  }
}

.slider__parameters {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px;
    column-gap: 42px;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.slider__number {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  border-right: 2px solid $special-grey;
  border-top: 2px solid $special-grey;
  border-left: 2px solid $special-grey;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 8px;
  grid-row: 1/2;
  grid-column: 1/2;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    grid-row: 1/2;
    grid-column: 1/2;
    padding-bottom: 11px;
  }
}

.slider__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
  padding: 0 25px 0 22px;
  text-align: center;
  position: relative;
  grid-row: 2/4;
  grid-column: 1/2;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    grid-row: 2/4;
    grid-column: 1/2;
  }
}

.slider__compare {
  display: grid;
  grid-template-columns: 140px 1fr;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px 1fr;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 0;
    padding-bottom: 85px;
  }
}

.slider__before-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
  display: flex;
  justify-content: left;
}

.slider__after-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  overflow: hidden;
  display: flex;
  justify-content: right;
}

.slider__range {
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.slider__range:hover + .slider__line::after {
  background: $basic-green;
}

.slider__range:hover + .slider__line {
  background: $basic-green;
}

.slider__range:active + .slider__line::after {
  background: $basic-green;
  opacity: 0.6;
}

.slider__range:focus + .slider__line {
  outline: 2px solid $violet;
  outline-offset: 25px;
}

.slider__range:focus + .slider__line::after {
  background: $violet;
}

.slider__range:active + .slider__line {
  background: $basic-green;
  opacity: 0.6;
}

.slider__line {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  transform: translateX(50%);
  background: rgb(128, 128, 128);
  pointer-events: none;
  position: relative;

  &:hover {
    background: $basic-green;
  }

  &:active {
    background: $basic-green;
    opacity: 0.6;
  }
}

.slider__line::after {
  content: "";
  flex-shrink: 0;
  background: rgb(128, 128, 128);
  mask: url("../img/icons/icons.svg#thumb");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.slider__line:hover::after {
  background: $basic-green;
}

.slider__line:active::after {
  background: $basic-green;
  opacity: 0.6;
}

.slider__line::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $basic-white;
}

.slider__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 560px;
    grid-template-rows: 135px 170px 296px;
    column-gap: 220px;
  }
}

.slider__span {
  box-shadow: 24px 0 0 0 rgb(234, 234, 234), -14px 0 0 0 rgb(234, 234, 234);
  background-color: rgb(234, 234, 234);

  @media (min-width: $tablet-width) {
    box-shadow: -5px 0 0 0 $basic-white, 5px 0 0 0 $basic-white;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    box-shadow: -5px 0 0 0 rgb(234, 234, 234), 5px 0 0 0 rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
  }
}
