.social__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}

.social__link:focus {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  outline: 2px solid $violet;
  top: 0;
}

.social__link--vkontakte::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: rgba(102, 102, 102, 1);
  mask: url("../img/icons/stack.svg#vkontakte") no-repeat center/29px 22px;
}

.social__link--vkontakte:hover::after,
.social__link--youtube:hover::after,
.social__link--telegram:hover::after {
  background: $basic-green;
}

.social__link--vkontakte:active::after,
.social__link--youtube:active::after,
.social__link--telegram:active::after {
  opacity: 0.3;
}

.social__link--youtube::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgba(102, 102, 102, 1);
  mask: url("../img/icons/stack.svg#youtube") no-repeat center/29px 22px;
}

.social__link--telegram::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -10px;
  width: 40px;
  height: 40px;
  background: rgba(102, 102, 102, 1);
  mask: url("../img/icons/stack.svg#telegram") no-repeat center/29px 22px;
}

.social__item {
  margin-right: 24px;
  width: 40px;
  height: 40px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}
