.social__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;

  &:hover {
    color: rgb(255, 0, 0);
  }
}

.social__link--vkontakte {
  background: url("../img/vkontakte.svg") no-repeat center;
}

.social__link--youtube {
  background: url("../img/youtube.svg") no-repeat center;
}

.social__link--telegram {
  background: url("../img/telegram.svg") no-repeat center;
}

.social__item {
  margin-right: 24px;
  width: 40px;
  height: 40px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}
