.social__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;

  &:hover {
    color: rgb(255, 0, 0);
  }
}

.social__link--vkontakte {
  background: rgba(102, 102, 102, 1);
  mask: url("../img/icons.svg#vkontakte") no-repeat center/29px 22px;

  &:hover {
    background: $basic-green;
  }

  &:focus {
    background: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--youtube {
  background: rgba(102, 102, 102, 1);
  mask: url("../img/icons.svg#youtube") no-repeat center/29px 22px;

  &:hover {
    background: $basic-green;
  }

  &:focus {
    background: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--telegram {
  background: rgba(102, 102, 102, 1);
  mask: url("../img/icons.svg#telegram") no-repeat center/29px 22px;

  &:hover {
    background: $basic-green;
  }

  &:focus {
    background: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item {
  margin-right: 24px;
  width: 40px;
  height: 40px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}
