body {
  margin: 0 auto;
  background-color: $basic-white;
  color: $black;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  --out-width: 2px;
  outline: var(--out-width) solid red;
  outline-offset: calc(0px - var(--out-width));
  &::before, &::after {
    outline: var(--out-width) solid lime;
    outline-offset: calc(0px - var(--out-width));
  }
}
