/*Colors*/
$basic-grey: rgba(242, 242, 242, 1);
$special-dark-grey: rgb(68, 68, 68);
$black: rgb(0, 0, 0);
$basic-white: rgb(255, 255, 255);
$basic-green: rgba(104, 183, 56, 1);
$special_dark-grey-2: rgb(34, 34, 34);

/*Viewports*/
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
